---
http_interactions:
- request:
    method: get
    uri: https://www.newegg.com/Product/RSS.aspx?Depa=0&Submit=RSSDailyDeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Cteonnt-Length:
      - '38686'
      X-Server-Id:
      - '207'
      X-Ver:
      - '09051701'
      X-Newegg-Flow:
      - PASS
      X-Newegg-Index:
      - '0'
      X-H:
      - '200'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\r\n\r\n<rss version=\"2.0\"
        \ >\r\n\t<channel>\r\n\t\t<title>Newegg.com RSS Feed - Daily Deals</title>\r\n\t\t<link>https://www.newegg.com/Product/ProductList.aspx?Submit&#61;DailyDeals&#38;Depa&#61;0&#38;nm_mc&#61;OTC-RSS&#38;cm_sp&#61;OTC-RSS</link>\r\n\t\t<description>Official
        Newegg.com RSS Feed - An up-to-date headlines on our latest sales, deals,
        and promotions. Subscribe now and never miss a single Newegg.com deal.</description>\r\n\t\t<language>en-us</language>\r\n\t\t<lastBuildDate>Mon,
        26 Mar 2018 20:19:21GMT</lastBuildDate>\r\n\t\t<ttl>15</ttl>\t\r\n\t\t\t\t\r\n\t\t<image>\r\n\t\t\t<title>Newegg.com</title>\r\n\t\t\t<link>https&#58;&#47;&#47;www.newegg.com&#47;&#63;nm_mc&#61;OTC-RSS&#38;cm_sp&#61;OTC-RSS</link>\r\n\t\t\t<url>//c1.neweggimages.com/WebResource/Themes/2005/Nest/logo.gif</url>\r\n\t\t</image>\r\n\t\t\r\n\t\t\t\r\n\t\t<item>\r\n\t\t\t<title>&#36;369.99
        - ASUS ROG Strix Radeon RX 570 O4G Gaming OC Edition GDDR5 DP HDMI DVI VR
        Ready AMD Graphics Card &#40;ROG-STRIX-RX570-O4G-GAMING&#41;</title>\r\n\t\t\t<link>https&#58;&#47;&#47;www.newegg.com&#47;Product&#47;Product.aspx&#63;Item&#61;N82E16814126189&#38;nm_mc&#61;OTC-RSS&#38;cm_sp&#61;OTC-RSS-_-Desktop&#37;20Graphics&#37;20Cards-_-ASUS-_-N82E16814126189</link>\r\n\t\t\t<description>&#13;&#10;&#9;&#9;&#9;&#9;&#60;div
        style&#61;&#34;width&#58;1[...]
