---
http_interactions:
- request:
    method: get
    uri: http://bot.open-mailbox.com/news_feed_subscriptions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mailbot-Api-Token:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c2fdd9790ca92dce43b6b03b1c8e63f0"
    body:
      encoding: UTF-8
      string: '[{"news_feed_id":2,"discord_channel_id":"431217242123010053","guild_id":"224223413449916416","enabled":true},{"news_feed_id":3,"discord_channel_id":"433102426539556864","guild_id":"224223413449916416","enabled":true}]'
  recorded_at: Wed, 02 May 2018 20:28:12 GMT
recorded_with: VCR 3.0.3
