---
http_interactions:
- request:
    method: get
    uri: http://bot.open-mailbox.com/news_feed_subscriptions.json?since=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mailbot-Api-Token:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52f841ed6c8c4bd0a59ab6f4ca310a94"
    body:
      encoding: UTF-8
      string: '[{"discord_channel_id":"431217242123010053","guild_id":"224223413449916416","enabled":true,"news_feed":{"id":2,"link":"https://www.newegg.com/Product/RSS.aspx?Submit=RSSDailyDeals\u0026Depa=0"}},{"discord_channel_id":"433102426539556864","guild_id":"224223413449916416","enabled":true,"news_feed":{"id":3,"link":"http://blog.humblebundle.com/rss"}}]'
  recorded_at: Wed, 02 May 2018 20:46:11 GMT
recorded_with: VCR 3.0.3
