---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams?user_login=captainredwolf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '30'
      Ratelimit-Remaining:
      - '29'
      Ratelimit-Reset:
      - '1526585900'
      Twitch-Trace-Id:
      - f76997bff96cca97b7faf282a2a02eed
      X-Ctxlog-Logid:
      - 1-5afdd9f4-27e108420f652a7e60747476
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"28729045744","user_id":"113852750","game_id":"488552","community_ids":["06ebdba0-3a79-42f5-9dba-6c441305879d","23653182-871f-44d5-990c-68fc600abcf0","fd0eab99-832a-4d7e-8cc0-04d73deb2e54"],"type":"live","title":"Another
        perfect day live from the 55th floor.","viewer_count":9,"started_at":"2018-05-17T14:11:00Z","language":"en","thumbnail_url":"https://static-cdn.jtvnw.net/previews-ttv/live_user_theceo_-{width}x{height}.jpg"},{"id":"28731813136","user_id":"49623984","game_id":"488191","community_ids":["06ebdba0-3a79-42f5-9dba-6c441305879d","5f62e99a-5c6d-4119-9209-bee72715a11a","eb355f4d-3c95-4f67-94f5-e8cc06764d64"],"type":"live","title":"Coloring
        all of the things!  #MercilessOnes #BeautyGamers #InceptionEsports #TwitchKittens
        @raijin_team","viewer_count":7,"started_at":"2018-05-17T19:15:08Z","language":"en","thumbnail_url":"https://static-cdn.jtvnw.net/previews-ttv/live_user_captainredwolf-{width}x{height}.jpg"}],"pagination":{"cursor":"eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6Mn19"}}'
  recorded_at: Thu, 17 May 2018 19:37:24 GMT
recorded_with: VCR 3.0.3
