development:
  adapter: 'postgresql'
  encoding: 'utf8'
  database: 'mailbot_development'

test:
  adapter: 'postgresql'
  encoding: 'utf8'

production:
  adapter: 'postgresql'
  encoding: 'utf8'
  database: 'mailbot_production'
