---
http_interactions:
- request:
    method: get
    uri: https://www.opentdb.com/api.php?amount=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://opentdb.com/api.php?amount=10
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://opentdb.com/api.php?amount=10">here</a>.</p>
        </body></html>
  recorded_at: Thu, 23 Feb 2017 18:25:15 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"boolean","difficulty":"easy","question":"The
        Axolotl is an amphibian that can spend its whole life in a larval state.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Entertainment:
        Music","type":"multiple","difficulty":"medium","question":"Which of these
        is NOT the name of an album released by Miami-based producer DJ Khaled?","correct_answer":"Don&#039;t
        Ever Play Yourself","incorrect_answers":["Major Key","Suffering From Success","I
        Changed A Lot"]},{"category":"Entertainment: Video Games","type":"multiple","difficulty":"medium","question":"Which
        of these &quot;Worms&quot; games featured 3D gam[...]
